// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  .jumbotron{
    padding: 0px;
    margin: 0px; 
    background-size: cover;
    // background-color: #464646;
    z-index: 0;

    .jumbotron-extend {
      position: relative;
      height: 100vh;
      min-height: 300px;
      background-image: url("https://images.pexels.com/photos/207301/pexels-photo-207301.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
      // background-image: url("https://images.pexels.com/photos/988873/pexels-photo-988873.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
      background-position: center center;
      background-repeat: no-repeat;
      // background-attachment: fixed;
      background-size: cover;

      .jumbotron-container {
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        .site-name {
          margin-bottom: 40px;
          font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', sans-serif;
          font-size: 150px;
          color: black;
        }
        .btn-info {
          color: #fff;
        }
        // .btn-facebook{
        //   position: absolute;
        //   bottom: 32px;
        //   left: 46px;
        // }
      }
    }
  }
  body::before {
    content: '';
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    background: inherit;
    filter: blur(2px);
    z-index: -1;
  }
}

@media (max-width: 767px) {
  .jumbotron-extend {
    height: 300px;
    min-height: 0;
    margin-bottom: 40px;
    text-align: center;
    .jumbotron-container {
        top: 0;
        transform: translateY(0);
      .site-name {
          margin-bottom: 40px;
      }
      .btn-info {
          margin-bottom: 20px;
      }
    }
  }
}
